/CHANGELOG
/*.bat
/*.sh
/*.txt
/bin/*
/conf/*
/docs/*
/eclipse/*
/jars/*
/lib/*
/logs/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/cpw/*
/src/minecraft/ibxm/*
/src/minecraft/net/*
/src/minecraft/paulscode/*
/src/minecraft/*.cfg
/src/minecraft/*.properties
/src/minecraft/*.png
/src/minecraft/*.info
/src/minecraft/*.java